.diagram .header {
  font-size: smaller;
  margin-left: 0.25em;
  margin-right: 0.25em;
  margin-bottom: 0;
  margin-top: auto;
  padding: 0.25em;
  border: 0.1em outset;
  width: 6em;
  float: left;
  background: #FFFFFF;
}

.diagram {
  width: 46em;
  background: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
}

.diagram .hand {
  width: 16em;
}

.diagram .south , .diagram .north {
  margin-left: 15em;
}

.diagram .north {
  padding-bottom: 1ex;
}

.diagram .south {
  clear: both;
  padding-top: 1ex;
}

.diagram .west {
  float: left;
  clear: left;
}

.diagram .east {
  float: right;
}


.red {
  color: red;
}

.hand .seatname {
  margin-left: 1em;
  font-size: smaller;
  font-style: italic;
}

.auction .heading {
  font-style: italic;
}

table.auction, table.doubledummy {
  border-spacing: 0px;
  white-space: nowrap;
  font-size: 20px;
  font-family: "Consolas", "Courier New", Courier, mono, serif
}

table.hand span.blacksuit, table.auction span.blacksuit, table.doubledummy span.blacksuit {
  -moz-background-clip: inherit;
  -moz-background-inline-policy: inherit;
  -moz-background-origin: inherit;
  background:inherit inherit inherit inherit inherit;
  color: black;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
}

table.hand span.redsuit, table.auction span.redsuit, table.doubledummy span.redsuit {
  -moz-background-clip: inherit;
  -moz-background-inline-policy: inherit;
  -moz-background-origin: inherit;
  background: inherit inherit inherit inherit inherit;
  color: #CC0000;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
}

