<% s, t = dealer_delay(bid.deal.dealer) -%>
<table class="auction">
<thead class="heading">
<td>South</td>
<td>West</td>
<td>North</td>
<td>East</td>
</thead><tr>
<%= s %>
<% for i in bid.seq.split('-') -%>
  <% if t % 4 == 0 -%>
</tr><tr>
  <% end -%>
<td><%= suit(i) %></td>
  <% t = t + 1 -%>
<% end -%>
<% while t % 4 != 0 -%>
<td>&nbsp;</td>
<% t = t + 1 -%>
<% end -%>
</tr><tr><td colspan="4"><span style="float: left;">Suggested by <%=h bid.user.login %></span>
<% if current_user == bid.user -%>
<span style="float: right;"><%= link_to 'Delete', :action => 'deletebid', :id => bid.id %></span>
<% end -%>
</td></tr></table><br />

