<table class="comment">
<thead><td><span style="float: left">
<%= link_to comment.user.login, :action => "user", :id => comment.user.login %> @
<%= comment.created_at.to_s %></span>
<% if comment.user == current_user -%>
<span style="float: right"><%= link_to "Delete", :action => "deletecomment", :id => comment.id %></span>
<% end -%></td></thead>
<tr><td>
<%= simple_format(h(comment.body)) %>
</td></tr></table>
<br />

