<h2>Double Dummy Analysis</h2>
<table class="doubledummy">
<thead><td>&nbsp;</td><td><span class="suitsymbol">♣</span></td><td><span class="suitsymbol">♦</span></td>
<td><span class="suitsymbol">♥</span></td><td><span class="suitsymbol">♠</span></td><td>NT</td></thead>
<tr><td>N</td><% d.n.split.each do |s| -%>
<td><%= ((s.to_i - 6) > 0)?(s.to_i - 6).to_s : "-" %></td>
<% end -%></tr>
<tr><td>S</td><% d.s.split.each do |s| -%>
<td><%= ((s.to_i - 6) > 0)?(s.to_i - 6).to_s : "-" %></td>
<% end -%></tr>
<tr><td>E</td><% d.e.split.each do |s| -%>
<td><%= ((s.to_i - 6) > 0)?(s.to_i - 6).to_s : "-" %></td>
<% end -%></tr>
<tr><td>W</td><% d.w.split.each do |s| -%>
<td><%= ((s.to_i - 6) > 0)?(s.to_i - 6).to_s : "-" %></td>
<% end -%></tr>
</table>

